/* mostly borrowed from Chris */

/* use a non-serif font */
html {
  font-family: 'helvetica neue', sans-serif;
}

/* background image source: https://www.freepik.com/free-photos-vectors/background Background vector created by freepik - www.freepik.com*/
body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  background-color: #eeeeee;
}

.mapboxgl-marker:hover {
  cursor: pointer;
}

.mapboxgl-popup-content-wrapper{
  width: 200px;
}

/* absolute position the map container as full screen, leaving 300 pixels on the left */
#map-container {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 600px;
  border: 1px solid black;
}

#options-box {
 position:absolute;
 top: 40px;
 bottom: 0;
 width: 600px;
 background-size: cover;
 border: 1px solid black;
}

#type-checkboxes{
  margin-top:40px;
  margin-left:80px;
}

#boro-checkboxes{
  margin-top:40px;
  margin-left:80px;
}

.checkbox {
  font-size:1.5rem;
}

input.box {
 width: 20px;
 height: 20px;
}

h3 {
  margin-top: 0;
  font-size: 1.8rem;
  text-align: center;
}

h4 {
  font-size:1.3rem;
  margin-bottom:10px;
}

#data-source {
  font-size:0.75rem;
  margin-left: 5px;
  margin-top:230px;
  color:whitesmoke;
}
